@font-face {
  font-family: UnderstrukkRegular;
  src: url(./Assets/UnderstrukkRegular-4pZK.ttf);
}
@font-face {
  font-family: Lightningvolt;
  src: url(./Assets/Lightningvolt-xoqm.ttf);
}
@font-face {
  font-family: Godofthunder;
  src: url(./Assets/Godofthunder-0WO1P.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  scroll-behavior: smooth;
}
.body {
  /* height: 200vh; */
  width: 100vw;
}
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 100px;
  z-index: 100;
  color: #ffcd00;
  /* padding: 5px 100px;
  position: fixed;
  background-color: #fff;
  /* border-radius: 10% 77% 86% / 0% 0% 31% 31% ; */
  /* border-radius: 10% 10% 77% 86% / 0% 0% 50% 50% ;
  border: 1px solid rgba(249, 157, 28, 0.2);
  opacity: 0.7; */
}
header.sticky {
  padding: 5px 100px;
  position: fixed;
  background-color: #001220;
  /* border-radius: 10% 77% 86% / 0% 0% 31% 31% ; */
  border-radius: 10% 10% 77% 86% / 0% 0% 50% 50% ;
  border: 1px solid rgba(249, 157, 28, 0.2);
  opacity: 0.7;
}
header a {
  text-decoration: none;
  color: #000;
}
.home {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  width: 100%;
  height: 600px;
  background-color: #001220;
  color: #fff;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.logo-top {
  padding: 20px 0;
  font-family: Godofthunder;
}
.logo-top span {
  font-family: Godofthunder;
}
.logo-1 {
  width: 250px;
  height: 200px;
  padding: 5px;
  margin: auto;
  -webkit-animation: spin1 1s linear 1;
  -moz-animation: spin1 1s linear 1;
  animation: spin1 1s linear 1;
}
.logo-2 {
  width: 250px;
  height: 200px;
  padding: 5px;
  margin: auto;
  -webkit-animation: spin1 1s linear 1 reverse;
  -moz-animation: spin1 1s linear 1 reverse;
  animation: spin1 1s linear 1 reverse;
  translate: 0 -200%;
}
@-webkit-keyframes spin1 {
  100% {
    -webkit-transform: rotate(180deg);
  }
}
/* .logo:hover{
      -webkit-animation: spin 50s linear infinite reverse;
  -moz-animation: spin 50s linear infinite reverse;
  animation: spin 50s linear  infinite reverse;
} */
.logo{
  width: 75%;
  height: 500px;
  padding: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* align-content:center; */
  justify-content:center;
  text-align: center;
  background-color: #001220;
}
.logo h1{
  font-family: Godofthunder;
  padding: 5px;
}
.logo-text {
  width: 250px;
  height: 200px;
  padding: 5px;
  margin: auto;
  translate: 0 -100%;
  z-index: 10000;
}
.navigation {
  display: flex;
}
.navigation li {
  color: #ffcd00;
  list-style: none;
  padding: 1px;
  margin: 0 20px;
  font-size: 20px;
}
.navigation a li:hover {
  color: #2b57ca;
  transition: 0.3s linear;
}
#Lightning2{
  visibility: hidden;
}
#Lightning3{
  visibility: hidden;
}
#Lightning-2-right{
  visibility: hidden;
}
#Lightning-3-right{
  visibility: hidden;
}
.Lightning-left {
  position: absolute;
  width: 50px;
  height: 500px;
  left: 0%;
  /* translate: 100%; */
/* -webkit-animation: spin 20s linear infinite;
  -moz-animation: spin 20s linear infinite;
  animation: spin 20s linear  infinite;  */
}
/* .mandala-art:hover{
  translate: 360;
} */
/* .mandala-art-right{
  right: 0;
  translate: -50%;
  position: absolute;
  width: 50vh;
  overflow:hidden;
  -webkit-animation: spin 20s linear infinite;
  -moz-animation: spin 20s linear infinite;
  animation: spin 20s linear  infinite;
} */
.Lightning-right {
  /* margin-left: calc(100vw - 200px);     */
  left: 100%;
  translate: -100%;
  width: 50px;
  height: 400px;
  /* overflow:hidden; */
  position: absolute;
  -webkit-animation: spin 20s linear infinite reverse;
  -moz-animation: spin 20s linear infinite reverse;
  animation: spin 20s linear infinite reverse;
}
/* .mandala-art-right:hover{
  -webkit-animation: spin 30s linear infinite;
  -moz-animation: spin 30s linear infinite;
  animation: spin 30s linear  infinite;
} */
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.welcome {
  position: relative;
  background: #001220;
  color: #fff;
  width: 100vw;
  height: calc(300 + 50vh);
  overflow: hidden;
}
.center {
  width: 50vw;
  padding: 5px;
  margin: auto;
  text-align: center;
}
#Workshops{
  background-color: #001220;
  color: #fff;
  overflow: hidden;
}
#Workshops h1{
  font-family: Godofthunder;
}
.Workshop-top{
  background: url(./Assets/Workshop-top.svg);
}
.events {
  display: flex;
  /* background: #f18930; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.events-box {
  width: 350px;
  height: 400px;
  margin: 50px;
  padding: 5px;
  background: linear-gradient(rgba(246, 71, 27, 0.1), rgba(229, 255, 204, 0.1));
  text-align: center;
  /* color: #FFF; */
  border-radius: 7px;
  box-shadow: #ffcd00;
  color:  #ffcd00;
  /* background-color: transparent; */
  /* width: 300px;
  height: 200px; */
  border: 1px solid #ffcd00;
  /* perspective: 500px; */
}
.event-img {
  width: 300px;
  height: 200px;
}
/* This container is needed to position the front and back side */
.event-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 1px solid #ffcd00;
  border-radius: 7px;
  translate: 10px 14px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.events-box:hover .event-content {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.event-front,
.event-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 7px;
}

/* Style the front side (fallback if image is missing) */
.event-front {
  background-color: #001220;
  color: #ffcd00;
  border-radius: 7px;
}

/* Style the back side */
.event-back {
  background-color: #000;
  color: white;
  transform: rotateY(180deg);
}
.Competitions-top{
  background: url(./Assets/Competition-top.svg);
}
footer {
  background: #3f3f3f;
  padding-top: 50px;
  color: white;
}
.row {
  display: flex;
  padding: auto;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.social {
  text-align: center;
  padding: 5px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.social i {
  color: white;
  padding: 5px;
  font-size: 25px;
}
.social i:hover {
  color: #2b57ca;
}
h3 {
  font-size: 28px;
  margin: 15px 0px;
  text-align: center;
}
.col {
  padding: 0 20px;
}
.col a {
  color: white;
}
.col a i {
  padding: 5px;
}
.bottom {
  background: black;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
}

.wrapper {
  max-width: 75%;
  margin: auto;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i {
  font-size: 1.6rem;
}

.active,
.accordion:hover {
  background-color: #3f3f3f;
  color: white;
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  /* background-color: black; */
  overflow: hidden;
  /* background-color: #3f3f3f; */
  display: none;
}
.pannel p {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  /* border-radius:0% 10% 0% 10% / 0% 0% 49% 42%     ; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  color: #f18930;
}
.spacer {
  aspect-ratio: 2000/300;
  width: 100vw;
  height: 100px; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#Events {
  background-color: #001220;
}
#Events h1{
  color: #fff;
  font-family: Godofthunder;
}
.sponsors-spacer {
  background: url(./Assets/Sponsor-top.svg);
}

.electricity {
  max-width: 100vw;
  min-height: 80vh;
  margin: 0 auto;
  width: 100%;
  position: absolute;
}

svg {
  position: absolute;
  top: 15vh; 
  width: 95%;
  left: 50%;
  transform: translate(-50%);
}

.minus-diode,
.plus-diode {
  position: absolute;
  bottom: 0;
  height: 50vh;
  width: 2vh;
  background: #888;
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
  
  &:before {
    position: absolute;
    top: 5vh;
    bottom: 1vh;
    left: 1px;
    background: white;
    width: 1px;
    content: '';
    opacity: 0.5;
  }
}

.minus-diode {
  left: auto;
  right: 0;
}

.ring {
  position: absolute;
  top: 50%;
  width: 20vh;
  height: 2vh;
  background: #555;
  left: 50%;
  transform: translate(-50%);
  border-radius: 1vh;
  &.medium {
    width: 15vh;
    top: 35%;
  }
  &.small {
    width: 10vh;
    top: 10%;
  }
  &:before {
    background: white;
    height: 1px; 
    position: absolute;
    top: 0.5vh;
    left: 5%;
    content: '';
    width: 50%;
    opacity: 0.5
  }
}

.socket {
  position: absolute;
  background: #222;
  width: 2vh;
  top: 0;
  height: 1vh;
  z-index: 5;
  &.foot {
    transform: translate(-50%) rotate(-180deg);
    top: auto;
    bottom: 0;
    width: 10vh;
    height: 5vh;
    left: 50%;
  }
  &:before {
    content: '';
    border-bottom: 1vh solid transparent;
    border-right: 2vh solid #222;
    position: absolute;
    right: 100%;
  }
  &:after {
    content: '';
    border-bottom: 1vh solid transparent;
    border-left: 2vh solid #222;
    position: absolute;
    left: 100%;
  }
}

.ball {
  background: #666;
  width: 12vh;
  height: 12vh;
  bottom: 99%;
  border-radius: 50%;
  position: absolute;
  z-index: 15;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
  &:before {
    content:'';
    border-radius: 50%;
    background: #eee;
    width: 2vh;
    height: 2vh;
    position: absolute;
    top: 2.5vh;
    right: 2.5vh;
    z-index: 10;
  }
  
  &:after {
    content:'';
    border-radius: 50%;
    background: #999;
    width: 12vh;
    height: 12vh;
    position: absolute;
    bottom: 0.5vh;
    left: 0.5vh;
  }
  
  .minus-diode & {
    &:before {
      right: auto;
      left: 2.5vh;
    }
    &:after {
      left: auto;
      right: 0.5vh;
    }
  }
  .shine {
    width: 1vh;
    height: 1vh;
    box-shadow: 0 0 10vh 3vh #ffcd00;
    position: absolute;
    top: 50%;
    right: -1vh;
    z-index: 10;
    .minus-diode & {
      left: -1vh;
      right: auto;
    }
  }
}



.container {
  position: relative;
}

button {
  cursor: pointer;
  width: 200px;
  height: 75px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  background-color: #081649;
  text-decoration: none;
  padding: 0.75em 1.75em;
  border-radius: 99px;
  border: none;
  transition: background-color 0.6 ease-out;
}

:focus:not(:focus-visible) { outline: none }

button:hover {
  background-color: #0f2473;
}

button:focus {
  background-color: #0f2473;
  outline: 5px solid #a0fdfe;
}

.border-gradient {
  padding: 4px;
  opacity: 0.8;
  border-radius: 99px;
  background: rgb(177, 131, 255);
  background: linear-gradient(
    90deg,
    rgb(177, 131, 255) 0%,
    rgb(85 114 199) 100%
  );
}

.button-text {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-55%);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  user-select: none;
  letter-spacing: 1.5px;
  color: white;
}

#scribbles {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: visible;
}

.vh {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
