@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: UnderstrukkRegular;
  src: url(./Assets/UnderstrukkRegular-4pZK.ttf);
}
@font-face {
  font-family: Lightningvolt;
  src: url(./Assets/Lightningvolt-xoqm.ttf);
}
@font-face {
  font-family: Godofthunder;
  src: url(./Assets/Godofthunder-0WO1P.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.home {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  width: 100%;
  height: 700px;
  background-color: #001220;
  color: #fff;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background: url(./Assets/blue-orb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;

}
.logo-top {
  padding: 20px 0;
  font-family: Godofthunder;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
    /* background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44); */
    /* letter-spacing: 2px; */
  /* background: linear-gradient(to right,#ffcd56,#FF964D);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */

}
.logo-top span {
  font-family: Godofthunder;
}
/* .logo:hover{
      -webkit-animation: spin 50s linear infinite reverse;
  -moz-animation: spin 50s linear infinite reverse;
  animation: spin 50s linear  infinite reverse;
} */
.logo{
  width: 75%;
  height: 500px;
  padding: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* align-content:center; */
  justify-content:center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.logo h1{
  font-family: ;
  padding: 5px;
}
.logo-text {
  width: 250px;
  height: 200px;
  padding: 5px;
  margin: auto;
  translate: 0 -100%;
  z-index: 10000;
}

.center {
  width: 50vw;
  padding: 5px;
  margin: auto;
  text-align: center;
}
#Workshops{
  padding-top: 100px;
  background-color: #001220;
  color: #fff;
  overflow: hidden;
}
#Workshops h1{
  font-family: Godofthunder;
}
.Workshop-top{
  position: absolute;
  bottom: 0;
  translate: 0 50%;
  background: url(./Assets/Workshop-top.svg);
  filter: drop-shadow(0px 0px 10px #ffcd00);
}
.events {
  width: 100%;
  height: 100%;
  display: flex;
  /* background: #f18930; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-x: hidden;
  padding-bottom: 50px;
  /* padding-bottom: 10px; */
}


.Competitions-top{
  filter: drop-shadow(0px 0px 10px #ffcd00);
  background: url(./Assets/Competition-top.svg);
}

/* h3 {
  font-size: 28px;
  margin: 15px 0px;
  text-align: center;
} */


.spacer {
  aspect-ratio: 2000/100;
  width: 100vw;
  height: 100px; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#Events {
  background-color: #001220;
}
#Events h1{
  color: #fff;
  font-family: Godofthunder;
}
.sponsors-spacer {
  filter: drop-shadow(0px 0px 10px #ffcd00);
  background: url(./Assets/Sponsors-top.svg);
}
.Merch-top{
  filter: drop-shadow(0px 0px 10px #ffcd00);
  background: url(./Assets/Merch-top.svg);
}

.events-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: #fff;
}
.events-menu ul{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00122038;
  border: 2px solid #ffcc0068;
  border-radius: 30px;
}
.events-menu li{
  list-style: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.events-menu li :hover{
  border-radius: 5px;
  border: 2px solid #ffcd00;
  cursor: pointer;
}
.events-menu li.active{
  border-radius: 30px;
  border: #ffcd00;
}
.sports-event{
  display: none;
}
.cultural-event{
  display: none;
}
.events-active{
  background-color: #ffcd00;
  color: white;
  border-radius: 30px;
}
.merchandise{
  background-color: #001220;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.merchandise h1{
  color: white;
  font-family: Godofthunder;
}
/* .events-box h2{
  font-family: Godofthunder;
} */

/* .Events-main{
  height: 100vh;
  width: 100vw;
  background-color: #001220;
} */

.Register{
  position: absolute;
  overflow: hidden;
  bottom: 0%;
  padding: 10px;
  width: 200px;
  height: 100px;
}
.more-info{
  position: absolute;
  overflow: hidden;
  bottom: 5%;
  padding: 10px;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
::-moz-selection { /* Code for Firefox */
  color: black;
  background: #ffcd00;
}

::selection {
  color: black;
  background: #ffcd00;
}
::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background: #001220; 
}
 
::-webkit-scrollbar-thumb {
  background: #ffcd00; 
}

::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}
.Download-btn{
  font-weight: 500px;
  border-radius: 30px;
  background-color: #ffcd00;
  padding: 10px 60px;
  outline: none;
  border: 0;
  cursor: pointer;
  font: 1em sans-serif;
  margin: 5px;
  /* font-size: 22px; */
}
.Download-btn i{
  padding: 0px 5px;
}


@media screen and (max-width: 480px) {
  iframe{
    width:300px
  }
  .home{
    font-size: 0.7rem;
  }
}