.navbar{
    display: flex;
    justify-content: space-between;
    background: rgba(51, 170, 51, .1);    
    align-items: center;
    padding: 0 50px;
}

.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    padding: 1px;
    margin: 0 20px;
    font-size: 20px;
}
.navigation li:hover{
    color: orange;
    transition: 0.3s linear;
}