.home{
    position: relative;
    overflow:hidden;
    margin-top: 100px;
    width: 100%; 
    height: 400px;
    background: white;
    color: black;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.logo-top{
    padding: 20px 0;
}
.logo-1{
    width: 250px;
    height: 200px;
    padding: 5px;
    margin: auto;
    -webkit-animation: spin1 1s linear 1;
    -moz-animation: spin1 1s linear 1;
    animation: spin1 1s linear 1;
}
.logo-2{
    width: 250px;
    height: 200px;
    padding: 5px;
    margin: auto;
    -webkit-animation: spin1 1s linear 1 reverse;
    -moz-animation: spin1 1s linear 1 reverse;
    animation: spin1 1s linear 1 reverse;
    translate: 0 -200%;
}
@-webkit-keyframes spin1{
    100%{-webkit-transform: rotate(180deg);}
}
/* .logo:hover{
        -webkit-animation: spin 50s linear infinite reverse;
    -moz-animation: spin 50s linear infinite reverse;
    animation: spin 50s linear  infinite reverse;
} */
.logo{
    width: 300px;
    height: 300px;
    padding: 5px;
    margin: auto;
}
.logo-text{
    width: 250px;
    height: 200px;
    padding: 5px;
    margin: auto;
    translate: 0 -100%;
    z-index: 10000;
}
.mandala-art{
    position: absolute;
    width: 400px;
    translate: -50%;
    /* -webkit-animation: spin 20s linear infinite;
    -moz-animation: spin 20s linear infinite; */
    animation: spin 20s linear  infinite;
}
.mandala-art-right {
    /* margin-left: calc(100vw - 200px);     */
    left: 100%;
    translate: -50%;
    width: 400px;
    /* overflow:hidden; */
    position: absolute;
    /* -webkit-animation: spin 20s linear infinite reverse;
    -moz-animation: spin 20s linear infinite reverse; */
    animation: spin 20s linear infinite reverse;
}
@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
.center{
    width: 50vw;
    padding: 5px;
    margin: auto;
    text-align: center;
}