*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.body{
    height: 200vh;
    width: 100vw;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%; 
}
.home{
    width: 100%; 
    height: 100vh;
    background: white;
    color: black;
    overflow-x: hidden;
}
.logo-top{
    padding: 20px 0;
}
.logo{
    width: 200px;
    height: 200px;
    padding: 5px;
    margin: auto;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    padding: 1px;
    margin: 0 20px;
    font-size: 20px;
}
.navigation li:hover{
    color: orange;
    transition: 0.3s linear;
}
.mandala-art{
    position: absolute;
    width: 400px;
    translate: -50%;
    -webkit-animation: spin 20s linear infinite;
    -moz-animation: spin 20s linear infinite;
    animation: spin 20s linear  infinite;
}
/* .mandala-art:hover{
    translate: 360;
} */
/* .mandala-art-right{
    right: 0;
    translate: -50%;
    position: absolute;
    width: 50vh;
    overflow:hidden;
    -webkit-animation: spin 20s linear infinite;
    -moz-animation: spin 20s linear infinite;
    animation: spin 20s linear  infinite;
} */
.mandala-art-right {
    margin-left: calc(100vw - 200px);    
    width: 400px;
    overflow:hidden;
    position: absolute;
    -webkit-animation: spin 20s linear infinite reverse;
    -moz-animation: spin 20s linear infinite reverse;
    animation: spin 20s linear infinite reverse;
}
/* .mandala-art-right:hover{
    -webkit-animation: spin 30s linear infinite;
    -moz-animation: spin 30s linear infinite;
    animation: spin 30s linear  infinite;
} */
@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
.elephant-left{
    top: 50vh;
    height: 300px;
    position: absolute;
    translate: -25%;
}
.elephant-right{
    rotate: 180;
    height: 300px;
    position: absolute;
    top: 50vh;
    right: 0;
    translate: -25%;
    transform: scaleX(-1);
}
.center{
    width: 300px;
    padding: 5px;
    margin: auto;
    text-align: center;
}
.events{
    display: flex;
    background: #f18930;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.events-box {
    width: 350px;
    height: 400px;
    margin: 50px;
    padding: 15px;
    background: #ccc;
    text-align: center;
    /* color: #FFF; */
    border-radius: 7px;
    box-shadow: #ccc;
  }
  .events-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    /* perspective: 1000px; Remove this if you don't want the 3D effect */
  }
  .event-img{
    width: 300px;
    height: 200px;
  }
  /* This container is needed to position the front and back side */
  .event-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .events-box:hover .event-content {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .event-front, .event-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .event-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .event-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

  
footer{
    background: #3f3f3f;
    padding-top: 50px;
    color: white;
}
.row{
    display: flex;
    padding: auto;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
.social{
    text-align: center;
    padding: 5px;
    list-style: none;
    display: flex;
    justify-content: center;
}
.social i{
    color: white;
    padding: 5px;
    font-size: 25px;
}
.social i:hover{
    color: #f18930;
}
h3{
    font-size: 28px;
    margin: 15px 0px;
    text-align: center;
}
.col{
    padding: 0 20px;
}
.bottom{
    background: black;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
}